@import "mixins";

%hide-text {
  color: transparent;
}

%resize {
  padding: 0;
  margin: 0;
  height: 15px;
}

@keyframes loading {
  50% {
    left: 100%;
    left: calc(100% - 200px);
  }
}

div {
  background-color: silver;
  border: 1px solid gray;
  @extend %resize;

  p {
    @extend %hide-text;
    @extend %resize;

    @include animation(loading 2s infinite);
    @include animation-timing-function(ease-in-out);

    width: 200px;
    position: relative;
    left: 0px;
    background-color: cornflowerblue;
  }
}
